<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/./styles/style.css" rel="stylesheet">
    <title>InstaFlix</title>
</head>
<body>
    <%- include('partials/header') -%>

    <!-- <img class= "" src='https://image.tmdb.org/t/p/original<%= movies.poster_path %>'> -->
    <h2><%= movies.title %></h2>
    <p><%= movies.overview %></p>
    <span>Release date: <%= movies.release_date %></span>
    <span>Run time: <%= movies.runtime %></span>
    <span>Rating: <%= movies.vote_average %></span>
    

</body>
</html>